$title-color : #242f51;
$font-color : #616368;
$title-font-style : "Poppins";
$title-font-weight: "Semi-Bold";

$font-style : "Poppins Regular";
$button-color : #f55767;
$title-size : 2.25rem;
$font-size : 1rem;

$button-style: "Poppins Regular";
$button-text-color :#ffffff;





