@import "_variables";

// hero
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.bigdiv {
  padding-left: 17.8125rem;
}
.textdiv {
  padding-right: 6.25rem;
}
.bestapp {
  font-family: $font;
  font-size: $bestappsize;
  color: $bestappcol;
  line-height: 4.5rem;
}

.inc {
  font-family: $font;
  font-size: $incsize;
  color: $inccol;
}

.try {
  font-family: $font;
  color: white;
  background-color: $tryforfreecol;
  border-radius: 1.81rem;
  width: 10.625rem;
  height: 3.5625rem;
}


@media (max-width: 1340px) {
  .textdiv {
    text-align: center;
  }
}



// Path: sass/_variables.scss

.title {
  font-size: $title-size;
  font-family: $title-font-style;
  color: $title-color;
  font-weight: 600;
}
.text {
  font-size: $font-size;
  font-family: $font-style;
  color: $font-color;
}
.button {
  color: $button-text-color;
  font-family: $button-style;

  background-color: $button-color;
}

//Section 2

#automatique-layout1 {
  color: $color-Section2-1;
  font-size: $taille-police-Section2-1;
  font-family: $font-Section2-1;
}

#loremm {
  font-family: $font-lorem;
  font-size: $taille-police-lorem;
}
#automatique-layout2 {
  color: $color-section2-2;
  font-size: $taille-police-Section2-1;
  font-family: $font-Section2-1;
}

#automatique-layout3 {
  color: $color-section2-3;
  font-size: $taille-police-Section2-1;
  font-family: $font-Section2-1;
}
